<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.batman.batmanmemegenerator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="neEBh3B9n5EZnOkFQtRTsME6kCfuPcmxXWdIicdO" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Ttnbu2Hvuvla6zZ1PZ3xBpflOlq5cSigpMA4tFbv" />

        <activity android:name=".ChooseMemeActivity" />
        <activity android:name=".TakeAPictureActivity" />
        <activity android:name=".GenerateMemeActivity"></activity>
    </application>

</manifest>
